# 1. WHAT ARE DATA STRUCTURE AND WHY THEY ARE IMPORTANT?
  - DATA STRUCTURE ARRE SPECIALIZED FORMATS OR WAY TO ORGANIZE, STORE, AND MANAGE DATA. IT'S IMPORTANT BECAUSE :-
  - IT'S ALLOWS FAST SEARCHING, INSERTION OR DELETION OF DATA.
  - HELPS SOLVE PROBLEM FASTER.
  - ALGORITHM ARE BUILD ON DATA STRUCTURE.
  - IT'S KEEP DATA ORGANIZED

# 2. EXPLAIN THE DIFF. BETWEEN MUTABLE AND IMMUTABLE DATA TYPES WITH EX.?
  - MUTABLE DATA TYPES CAN CHANGE ITS VALUE AFTER CREATION.
  - LIKE (LIST, DICT, SET)
  - EX.

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

  - IMMUTABLE DATA TYPES CANNOT CHANGE ITS VALUE AFTER IS CREATED.
  - LIKE (INT, FLOAT, BOOL, STR, TUPLE)
  - EX.

In [ ]:
name = "python"
name[0] = "h"
print(name)

TypeError: 'str' object does not support item assignment

# 3. WHAT ARE THE MAIN DIFF. BETWEEN LIST AND TUPLE IN PYTHON?
  - LIST:-
    - LIST IS MUTABLE WE CAN CHANGE VALUE IN IT.
    - IN THIS WE USE "[]" THIS BRACKET FOR WRITE VALUE.
    - USES MORE MEMORY.
    - WE USE IT  FOR WHEN DATA CANGE.
  - TUPLE:-
    - TUPLE ARE IMMUTABLE WE CANNOT CHANGE VALUE IN IT.
    - IN THIS WE USE "()" THIS BRACKET FOR WRITE VALUE.
    - ITS USE LESS MEMORY.
    - USE WHEN DATA SHOULD NOT CHANGE.

# 4. DISCRIBE HOW DICTIONARIES STORE DATA?
  - A DICTIONARY IN PYTHON IS A BUILD IN DATA STRUCTURE THAT STORE DATA AS KEY-VALUE PAIRS.
  - EX.

In [ ]:
my_dict = {"name": "pawan", "age": 20, "city": "nagpur"}
# "name", "age", "city" - is a keys
# "pawan", 20, "nagpur" - is values

# 5. WHY MIGHT YOU USE A SET INSTEAD OF A LIST IN PYTHON?
  - WE MIGHT USE A SET INSTEAD OF A LIST WHEN.-
    - NEED UNIQUE ELEMENT.
    - WANT FAST MEMBERSHIP TESTING.
    - SETS ARE UNORDERED, SO THEY ARE IDAEL WHEN IDEAL DOESN'T MATTER.
    - CONVERTING A LIST TO A SET HELPS REMOVE DUPLICATE.

# 6. WHAT IS STRING IN PYTHON, AND HOW IS IT DIFFERENT FROM A LIST?
  - A STRING IN PYTHON IS A SEQUENCE OF CHARACTERS ENCLOSED IN SINGLE('), DOUBLE("), TRIPLE QUOTE(''' OR """).
    - STRING ARE IMMUTABLE AND LIST MUTABLE.
    - SYNTAX WRITE IN SINLE, DOUBLE AND TRIPLE QUOTE BUT IN LIST WRITE IN BRACKETS.
    - STRING ONLY CONTAINS CHARACTERS AND LIST CONTAINS ANY TYPE OF DATA TYPE.

# 7. HOW DO TUPLES ENSURE DATA INTEGRITY IN PYTHON?
  - A TUPLE IS AN IMMUTABLE SEQUENCE TYPE IN PYTHON ONCE CREATED, ITS CONTENT CANNOT BE CHANGED.ITS ENSURE DATA INTEGRITY BECAUSE.-
    - ITS IMMUTABLE.
    - TUPLES CAN BE USED AS DICTIONARY KEYS OR IN SET BECAUSE THEY ARE HASHABLE.
    - IDEAL FOR STORING CONSTANT OR STRUCTURED DATA THAT MUST REMAIN UNCHANGED.

# 8. WHAT IS A HASH TABLE, AND HOW DOES IT RELATE TO DICTIONARIS IN PYTHON?
  - A HASH TABLE IS A DATA STRUCTURE THAT STORE DATA IN AN ASSOCIATE MANNER, IT MAP KEYS TO VALUES.
   - IN PYTHON THE BUILD-IN dict (DICTIONARY) DATA TYPE IS IMPLEMENTED USING A HASH TABLE.
   - BOTH HAS KEY-VALUE PAIRS.
   - KEY MUST BE HASHBLE.
   - FAST LOOKUP INSERT AND DELETE.

# 9. CAN LIST CONTAIN DIFFERENT DATA TYPE IN PYTHON?
  - IN PYTHON, A LIST CAN CONTAIN ELEMENT OF DIFFERENT DATA TYPES.
  - ITS CONTAIN-
    - AN INTEGER(25)
    - A STRING("PAWAN)
    - A FLOAT(3.14)
    - A BOOLEAN(True)
    - ANOTHER LIST([1,2,3])
    - A DICTIONARY({'KEY": 'VALUE'})

# 10. EXPLAIN WHY STRINGS IMMUTABLE IN PYTHON?
  - STRING IN PYTHON ARE IMMUTABLE, MEANING ONCE A STRING IS CREATED, IT CANNOT BE CHANGED.
  - THERE ARE SEVERAL REASON OF STRING IMMUTABLE IN PYTHON-
    - PERFORMANCE OPTIMIZATION: IMMUTABILITY ALLOWS PYTHON TO OPTIMIZE MEMORY USAGE AND PERFORMANCE.
    - HASHING: STRINGS ARE OFTEN USED AS KEYS IN DICTIONARIES. FOR A STRING TO BE USED AS KEY, IT MUST BE HASHBLE.
    - SIMPLICITY AND PREDICTABILITY: IMMUTABILITY SIMPLIFIES THE UNDERSTANDING OF HOW STRING BEHAVE IN PYTHON.

# 11. WHAT ADVANTAGES DO DICTIONARIES OFFER OVER LIST FOR CERTAIN TASK?
  - LIST AND DICTIONARIES ARE USED TO STORE COLLECTION OF DATA, DICTIONARIES OFFER KEY ADVANTAGES IN SPECIFIC SITUATI0N.
    - FAST LOOKUP BY KEY: DICTIONARIES PROVIDE O(1) AVERAGE TIME COMPLEXITY FOR ACCESING VALUES BY KEY,WHEREAS LIST REQUIRE O(n) TIME FOR SEARCHES.
    - DICTIONARIES STORE DATA AS KEY-VALUE PAIRS MAKING IT EASIER TO ASSOCIATE AND ACCESS RELATED INFORMATION.
    - CLEARER CODE READABILITY THAN LIST.
    - NO NEED TO REMEMBER INDEXES.

# 12. DESCRIBE A SCENARIO WHERE USING A TUPLE WOULD BE PREFERABLE OVER A LIST?
  - TUPLES ARE IMMUTABLE, THEIR CONTENTS CANNOT BE CHANGED AFTER CREATION.
    - IT HAS ALWAYS A FIXED PAIR OF VALUES.
    - SHOULD NOT BE CHANGED ONCE DEFINED.
    - OFTEN USED AS KEYS IN A DICTIONARY.

# 13. HOW TO SETS HANDLE DUPLICATE VALUES IN PYTHON?
  - IN PYTHON, SETS ARE A BUILD-IN DATA TYPE THAT AUTOMATICALY HANDLE DUPLICATE VALUES BY ONLY ALLOWING UNIQUE ELEMENT. WHEN YOU CREATE A SET, ANY DUPLICATE VALUES ARE AUTOMATICALLY REMOVED.

# 14. HOW DOES THE "in" KEYWORD WORK DIFFERENTLY FOR LISTS AND DICTIONARIES?
  - THE "in" KEYWORDS IS USED TO CHECK MEMBERSHIP, BUT IT BEHAVES DIFFERENTLY DEPENDING ON THE DATA STRUCTURE.
    - FOR LISTS: THE "in" KEYWORDS CHECK FOR THE PRESENCE OF A SPECIFIC VALUE WITHIN THE LIST.
    - FOR DICTINARIES: THE "in" KEYWORDS CHECK FOR THE PRESENCE OF A SPECIFIC KEY WITHIN THE DICTIONARY.

# 15. CAN YOU MODIFY THE ELEMENT OF A TUPLE? EXPLAIN WHY OR WHY NOT?
  - NO, TUPLES ARE IMMUTABLE IN PYTHON, WHICH MEANS YOU CANNOT MODIFY THEIR ELEMENTS AFTER THEY ARE CREATED. THIS DESIGN CHOICE PROVIDES BENEFITS IN TERMS OF DATA INTEGRITY, PERFORMANCE, AND USABILITY IN CERTAIN CONTEXTS, SUCH AS USING TUPLES AS DICTIONARY KEYS. IF YOU NEED A MUTABLE SEQUENCE, YOU SHOULD USE A LIST INSTEAD.

# 16. WHAT IS A NESTED DICTIONARY, AND GIVE AN EXAMPLE OF ITS USE CASE?
  - A NESTED DICTIONARY IS A DICTIONARY INSIDE ANOTHER DICTIONARY. IT ALLOWS YOU TO STORE STRUCTURED, HIERARCHICAL DATA, LIKE OBJECTS WITHIN OBJECTS.

# 17. DESCRIBE THE TIME COMPLEXITY OF ACCESSING ELEMENTS IN A DICTIONARY?
  - ACCESSING AN ELEMENT IN A PYTHON DICTIONARY (USING A KEY LIKE dict[KEY]) IS TYPICALLY:
    - AVERAGE CASE TIME COMPLEXITY: O(1) (CONSTANT TIME)
      - THIS IS BECAUSE PYTHON DICTIONARIES ARE IMPLEMENTED USING HASH TABLES, WHERE EACH KEY IS HASHED TO COMPUTE AN INDEX IN AN INTERNAL ARRAY. THIS ALLOWS FOR FAST LOOKUPS ON AVERAGE.
    - WORST CASE TIME COMPLEXITY: O(N) (LINEAR TIME)
      - IN RARE CASES, HASH COLLISIONS CAN OCCUR — MULTIPLE KEYS MAY MAP TO THE SAME INDEX. IF MANY COLLISIONS HAPPEN, ELEMENTS MAY BE STORED IN A LINKED LIST OR A SIMILAR STRUCTURE AT A SINGLE HASH INDEX. IN SUCH CASES, ACCESSING AN ELEMENT MIGHT TAKE LINEAR TIME RELATIVE TO THE NUMBER OF ELEMENTS.

# 18. IN WHAT SITUATION ARE LISTS PREFERED OVER DICTIONARIES?
  - LISTS ARE PREFERRED OVER DICTIONARIES IN SITUATIONS WHERE THE FOLLOWING CONDITIONS APPLY:
    - ORDERED COLLECTION OF ITEMS.
    - SIMPLE COLLECTION OF HOMOGENOUS DATA.
    - FREQUENT ITERATION.
    - DYNAMIC SIZE.
    - NO NEED OF KEY-VALUE PAIRING.

# 19. WHY ARE DICTIONARIES CONSIDERED UNORDERED, AND HOW DOES THAT AFFECT DATA RETRIEVAL?
  - DICTIONARIES IN PYTHON ARE CONSIDERED UNORDERED COLLECTIONS BECAUSE THEY DO NOT MAINTAIN THE ORDER OF ELEMENTS BASED ON THEIR INSERTION SEQUENCE. INSTEAD, DICTIONARIES USE A HASH TABLE TO STORE KEY-VALUE PAIRS, WHICH ALLOWS FOR EFFICIENT ACCESS AND RETRIEVAL BUT DOES NOT GUARANTEE ANY SPECIFIC ORDER OF THE KEYS. BUT YOU CANNOT RELY ON THE ORDER OF KEYS WHEN ITERATING OR ACCESSING ELEMENTS. IF ORDER IS IMPORTANT, CONSIDER USING A DIFFERENT DATA STRUCTURE THAT EXPLICITLY MAINTAINS ORDER.

# 20. EXPLAIN THE DIFFERENCE BETWEEN A LIST AND A DICTIONARY IN TERMS OF DATA RETRIEVAL?
  -

In [ ]:
# 1. WRITE A CODE TO CREATE A STRING WITH YOUR NAME AND PRINT IT?

my_name = "Pawan"
print("My name is:", my_name)

My name is: Pawan

In [ ]:
# 2. WRITE A CODE TO FIND THE LENGHT OF THE STRING "HELLO WORLD"?

text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

In [ ]:
# 3. WRITE A CODE TO SLICE THE FIRST 3 CHARACTERS FROM THE STRING "PYTHON PROGRAMMING"?

text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [ ]:
# 4. WRITE A CODE TO CONVERT THE STRING "hello" TO UPPERCASE?

text = "hello"
upper_text = text.upper()
print("Uppercase string:", upper_text)

Uppercase string: HELLO

In [ ]:
# 5. WRITE A CODE TO REPLACE THE WORD "APPLE" WITH "ORANGE" IN THE STRING "I LIKE APPLE"?

text = "I LIKE APPLE"
new_text = text.replace("APPLE", "ORANGE")
print("Updated string:", new_text)

Updated string: I LIKE ORANGE

In [ ]:
# 6. WRITE A CODE TO CREATE A LISTS WITH NUMBERS 1 TO 5 AND PRINT IT?

numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
# 7. WRITE A CODE TO APPEND THE NUMBER 10 TO THE LIST [1,2,3,4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [ ]:
# 8. WRITE A CODE TO REMOVE THE NUMBER 3 FROM LIST [1,2,3,4,5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [ ]:
# 9. WRITE A CODE TO ACCESS THE 2ND ELEMENT IN THE LIST ['A','B','C',''D'].

letters = ['A', 'B', 'C', 'D']
second_element = letters[1]
print("2nd element in the list:", second_element)

2nd element in the list: B

In [ ]:
# 10. WRITE A CODE TO REVERSE THE LIST [10,20,30,40,50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
# 11. WRITE A CODE TO CREATE THE TUPLE WITH THE ELEMENT 100, 200, 300 AND PRINT IT?

my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [ ]:
# 12. WRITE A CODE TO ACCESS THE SECOND-TO-LAST ELEMENT OF THE TUPLE ('RED','GREEN','BLUE','YELLOW').

colors = ('RED', 'GREEN', 'BLUE', 'YELLOW')
second_to_last = colors[-2]
print("Second-to-last element:", second_to_last)

Second-to-last element: BLUE

In [ ]:
# 13. WRITE A CODE TO FIND THE MINIMUM NUMBER IN THE TUPLE (10,20,5,15).

numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number in the tuple:", minimum)

Minimum number in the tuple: 5

In [ ]:
# 14. WRITE A CODE TO FIND THE INDEX OF THE ELEMENT "CAT" IN THE TUPLE ('DOG'.'CAT','RABBIT').

animals = ('DOG', 'CAT', 'RABBIT')
index = animals.index('CAT')
print("Index of 'CAT':", index)

Index of 'CAT': 1

In [16]:
# 15. WRITE A CODE TO CREATE A TUPLE CONTAINING THREE different fruits and check if 'kiwi'is in it.

fruits = ('apple', 'banana', 'mango')

if 'kiwi' in fruits:
    print("'kiwi' is in the tuple.")
else:
    print("'kiwi' is not in the tuple.")

'kiwi' is not in the tuple.

In [23]:
# 16. WRITE A CODE TO CREATE A SET WITH THE ELEMENTS 'A','B','C' AND PRINT IT?

my_set = {'A', 'B', 'C'}
print(my_set)

{'C', 'B', 'A'}

In [24]:
# 17. WRITE A CODE TO CLEAR ALL ELEMENTS FROM THE SET {1,2,3,4,5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [25]:
# 18. WRITE A CODE TO REMOVE THE ELEMENT 4 FROM THE SET {1,2,3,4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

In [26]:
# 19. WRITE A CODE TO FIND THE UNION OF TWO SETS {1,2,3} AND {3,4,5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [27]:
# 20. WRITE THE CODE TO FIND THE INTERSECTION OF TWO SETS {1,2,3} AND {2,3,4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [29]:
# 21. WRITE A CODE TO CREATE A DICTIONARY WITH THE KEYS "NAME","AGE" AND "CITY" AND PRINT IT.

person = {"NAME": "Pawan","AGE": 29,"CITY": "Nagpur"}
print("Dictionary:", person)

Dictionary: {'NAME': 'Pawan', 'AGE': 29, 'CITY': 'Nagpur'}

In [30]:
# 22. WRITE A CODE TO ADD A NEW KEY-VALUE PAIR "COUNTRY":"USA" TO THE DICTIONARY {"NAME": "JOHN","AGE": 25}.

person = {"NAME": "JOHN", "AGE": 25}
person["COUNTRY"] = "USA"
print("Updated dictionary:", person)

Updated dictionary: {'NAME': 'JOHN', 'AGE': 25, 'COUNTRY': 'USA'}

In [31]:
# 23. WRITE A CODE TO ACCESS THE VALUE ASSOCIATE WITH THE KEY "NAME" IN THE DICTIONARY {"NAME": "ALICE","AGE": 30}.

person = {"NAME": "ALICE", "AGE": 30}
name_value = person["NAME"]
print("Value associated with 'NAME':", name_value)

Value associated with 'NAME': ALICE

In [32]:
# 24. WRITE A CODE TO REMOVE THE KEY "AGE" FROM THE DICTIONARY {"NAME": "BOB","AGE": 22,"CITY": "NEW YORK"}

person = {"NAME": "BOB", "AGE": 22, "CITY": "NEW YORK"}
person.pop("AGE")

print("Updated dictionary:", person)

Updated dictionary: {'NAME': 'BOB', 'CITY': 'NEW YORK'}

In [33]:
# 25. WRITE A CODE TO CHECK IF THE KEY "CITY" EXISTS IN THE DICTIONARY {"NAME": "ALICE", "CITY": "PARIS"}.

person = {"NAME": "ALICE", "CITY": "PARIS"}

if "CITY" in person:
    print("Key 'CITY' exists in the dictionary.")
else:
    print("Key 'CITY' does not exist in the dictionary.")

Key 'CITY' exists in the dictionary.

In [34]:
# 26. WRITE A CODE TO CREATE LIST, A TUPLE AND A DICTIONARY AND PRINT THEM ALL.

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {"name": "Alice", "age": 30, "city": "Paris"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [ ]:
# 27. WRITE A CODE TO CREATE A LIST OF 5 RANDOM NUMBERS BETWEEN 1 AND 100, SORT IT IN ASCENDING ORDER, AND PRINT THE RESULT.

In [36]:
# 28. write a code to create a list with string and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "fig"]

print("Element at index 3:", my_list[3])

Element at index 3: date

In [37]:
# 29. write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

combined_dict = {**dict1, **dict2}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [38]:
# 30. WRITE A CODE TO CONVERT A LIST OF STRING INTO A SET.

string_list = ["apple", "banana", "cherry", "apple"]

string_set = set(string_list)
print("Set:", string_set)

Set: {'banana', 'apple', 'cherry'}